<div class="container-sm mx-auto">
  <nav
    class="d-flex flex-row justify-content-between bg-dark text-white p-3 align-items-center"
  >
    <div class="d-flex flex-row gap-4 align-items-center">
      <a class="text-decoration-none text-reset h2" routerLink="">Pizzeria</a>
      <a
        routerLink="/"
        routerLinkActive="selectedRoute"
        class="text-decoration-none text-reset"
        >Home</a
      >
      <a
        routerLink="/order"
        routerLinkActive="selectedRoute"
        class="text-decoration-none text-reset"
        >Order Pizza</a
      >
      <a
        routerLink="/build"
        routerLinkActive="selectedRoute"
        class="text-decoration-none text-reset"
        >Build Ur Pizza</a
      >
    </div>
    <div class="bg-warning p-2 px-3 rounded-1">
      <a routerLink="/cart" class="text-decoration-none text-reset"
        >Shopping Cart</a
      >
    </div>
    <!-- <a routerLink="/about" routerLinkActive="selectedRoute">About</a> -->
  </nav>
  <router-outlet></router-outlet>
</div>
