<section>
  <h1 class="text-center">Our Story</h1>
  <div class="d-flex flex-column gap-3">
    <div>
      We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our
      Facebook fan page. Fans were given situations where they had to come up
      with wacky and fun excuses. The person with the best excuse won the Best
      Excuse Badge and won Pizzeria's vouchers. Their enthusiastic response
      proved that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza. Ever!
      Ever since we launched the Tastiest Pan Pizza, ever, people have not been
      able to resist the softest, cheesiest, crunchiest, butteriest Domino's
      Fresh Pan Pizza. They have been leaving the stage in the middle of a
      performance and even finding excuses to be disqualified in a football
      match. We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan
      page. Fans were given situations where they had to come up with wacky and
      fun excuses. The person with the best excuse won the Best Excuse Badge and
      won Domino's vouchers. Their enthusiastic response proved that Pizzeria's
      Fresh Pan Pizza is the Tastiest Pan Pizza. Ever!
    </div>
    <div class="d-flex flex-row gap-3 align-items-center">
      <img
        src="https://images.unsplash.com/photo-1600891964599-f61ba0e24092?fit=crop&w=900&q=80"
        alt=""
        width="500px"
      />
      <div>
        <h2>Ingredients</h2>
        We're ruthless about goodness. We have no qualms about tearing up a
        day-old lettuce leaf (straight from the farm), or steaming a baby
        (carrot). Cut. Cut. Chop. Chop. Steam. Steam. Stir Stir. While they're
        still young and fresh - that's our motto. It makes the kitchen a better
        place.
      </div>
    </div>
    <div class="d-flex flex-row align-items-center gap-3">
      <div class="d-flex flex-column justify-content-center gap-3">
        <h2>Our Chef</h2>
        They make sauces sing and salads dance. They create magic with skill,
        knowledge, passion, and stirring spoons (among other things). They make
        goodness so good, it doesn't know what to do with itself. We do though.
        We send it to you.
      </div>
      <img
        width="500px"
        src="https://image.shutterstock.com/image-photo/happy-chef-600w-437116033.jpg"
        alt=""
      />
    </div>
    <div class="d-flex flex-row align-items-center gap-3">
      <img
        width="500px"
        src="https://image.shutterstock.com/image-photo/vintage-analog-kitchen-countdown-timer-260nw-669255388.jpg"
        alt=""
      />
      <div>
        <h2>45 min Delivery</h2>
      </div>
    </div>
  </div>
</section>
